.build
auto/
binary/
binary.deb
cache/
chroot/
config/
local/
unpacked-initrd/
chroot.files
chroot.installed_tmp_pkgs
chroot.packages.install
chroot.packages.live
build.log
wget-log*
*.iso
*.files
*.contents
*.packages
binary.modified_timestamps
.lock
